@font-face {
  font-family: "NotoSansSC-Medium";
  src: url("../font/NotoSansSC-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansSC-Regular";
  src: url("../font/NotoSansSC-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerifSC-Medium";
  src: url("../font/NotoSerifSC-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerifSC-SemiBold";
  src: url("../font/NotoSerifSC-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
